@font-face {
    font-family: OCR A Extended;
    src: url("../fonts/Cronus Round.otf");
    src: url("../fonts/OCRAEXT.TTF");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  /*color: #fff;*/
}

body {
  line-height: 1;
  display: flex;
  height: 100vh;
  width: 100vw;
  font-size: 80%;
  font-family: "OCR A Extended", sans-serif;
  font-weight: 400;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-y: auto;
  overflow-x: hidden;
}

a:active, a:hover, a:link, a:visited {
  outline-width: 0;
  /*color: #fff;*/
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

ol, ul {
  list-style: none;
}
li:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
img {
  border-style: none;
}

button, input, textarea {
  font: inherit;
  margin: 0;
}

button, input {
  overflow: visible;
}

button {
  text-transform: none;
  -webkit-appearance: button;
}
