@media only screen and (min-width: 320px) {
  /*Background*/
  .background {
    background-image: url("../images/concert.jpg");
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: fixed;
  }
  .bodyContainer {
    display: flex;
    height: 90vh;
    width: 100vw;
    flex-wrap: wrap;
  }
  .searchContainer {
    display: flex;
    height: 30%;
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .searchBar {
    display: flex;
    flex-basis: 100%;
    height: 15%;
    padding: 1.5%;
    background-color: #111111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }
  .searchForm {
    display: flex;
  }
  button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
  }
  input:-webkit-autofill, ::-webkit-input-placeholder {
    -webkit-text-fill-color: #f06d06;
  }
  input[type="text"] {
    background: transparent;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.4);
    color: #f06d06;
    font-size: 1.2em;
    padding: 0.5% 2%;
    transition: all 0.2s ease-in;
  }
  input[type="text"]:hover {
    background: rgba(133, 126, 64, 0.7);
    transition: all 0.5s;
  }
  .searchButton {
    background-color: #f06d06;
    color: white;
    padding: 1.5%;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.4);
  }
  .resultList {
    height: auto;
    width: 90%;
    margin: 0 5%;
  }
  .resultsListBar {
    height: 5%;
    width: 100%;
    background-color: rgba(134, 160, 181, 0.6);
    color: white;
    font-size: 1.1em;
    padding: 3%;
    clear: both;
    transition: all 0.6s;
  }
  .resultsListBar:hover {
    background-color: #95b2c9;
    font-size: 1.2em;
    transition: all 0.6s;
  }
  .resultColumns {
    margin-top: 0;
    margin-left: -3%;
    height: auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .bodyContainer {
    width: 80vw;
    margin: 0 auto;
  }
  .searchContainer {
    height: 40%;
  }
  .searchBar {
    height: 30%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .searchContainer {
    justify-content: center;
  }
  .searchSpan {
    flex-basis: 95%;
    margin: 1% 0;
  }
  .searchBar{
    height: 20%;
  }
}
