@import url('https://fonts.googleapis.com/css?family=Mada:200,300,400');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 10px;
    vertical-align: baseline;
    letter-spacing: 1px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 300;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-size: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Mada", sans-serif;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("https://res.cloudinary.com/andrerichards/image/upload/c_scale,e_blur:671,w_690/v1509767530/concert_oyax0v.jpg");
    background-position: center;
    background-size: cover;
}

a:active,
a:hover,
a:link,
a:visited {
    outline-width: 0;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

ol,
ul {
    list-style: none;
}

li:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

img {
    border-style: none;
}

button,
input,
textarea {
    font: inherit;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
    -webkit-appearance: button;
}

@media only screen and (min-width: 1030px) {
    * {
        font-size: 18px;
    }
    body {
        background-image: url("https://res.cloudinary.com/andrerichards/image/upload/e_blur:671/v1509767530/concert_oyax0v.jpg");
    }
}