    .background {
        background-image: url("../images/concert.jpg");
        background-position: center;
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        -webkit-filter: blur(7px);
        -o-filter: blur(7px);
        filter: blur(7px);
        filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='7');
        background-size: cover;
        transform: scale(1.1);
    }